* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: rgb(0, 0, 0)
}

header {
    background: linear-gradient(135deg, #c7d40e 0%, #06000c 100%);
    color: rgb(15, 0, 0);
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: initial;
    padding: 0 2rem;

}

nav ul{
display: flex;
list-style: none;
gap: 2rem;

}

nav a{
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
    font-weight: 1000;
    opacity: 0.5s;
}

nav a:hover,
nav a.active{
opacity: 3;
font-weight: bold;
}
